body{
    background:#0b1220;
    color:white;
    text-align:center;
    font-family:Arial;
}

#grid{
    width:320px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:8px;
}

.cell{
    height:70px;
    background:#1b2336;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
}
