body{
font-family:Arial;
text-align:center;
background:#0f0f18;
color:white;
}

#grid{
display:grid;
grid-template-columns:repeat(4,80px);
gap:8px;
justify-content:center;
margin:20px;
}

.cell{
width:80px;
height:80px;
background:#2a2a40;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
border-radius:10px;
}

.hidden{background:#111}

.player{background:#7c3aed}

button{
margin:5px;
padding:10px;
font-size:18px;
}
