body{
  font-family:Arial;
  text-align:center;
  background:#111;
  color:white;
}

#grid{
  display:grid;
  grid-template-columns:repeat(4,60px);
  gap:8px;
  justify-content:center;
  margin:20px;
}

.cell{
  width:60px;
  height:60px;
  background:#333;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
}

.player{background:#7c3aed}

.hidden{display:none}

#modal{
 position:fixed;
 inset:0;
 background:rgba(0,0,0,.8);
 display:flex;
 align-items:center;
 justify-content:center;
}
.box{background:#222;padding:20px}
